@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(185, 75%, 39%);
  overflow: hidden;
  font-family: 'Kumbh Sans', sans-serif;
}

h5, h4 {
  font-weight: 400;
  color: hsl(0, 0%, 59%);
}
h3 {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

h3 span {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

.top-pattern {
  width: 75%;
  margin-top: -600px;
  margin-left: -340px;
}

.bottom-pattern {
  width: 70%;
  position: fixed;
  right: -200px;
  bottom: 0;
  margin-bottom: -600px;
}

.card {
  width: 350px;
  border-radius: 5%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  overflow: hidden;
  background-color: #ffffff;
}

.card-body {
  margin-top: -50px;
}
.profile-img {
  position: relative;
  display: block;
  margin: auto;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

.info {
  margin: 5% 0;
}
.info h4 {
  padding-top: 3%;
}
.info h3>span {
  padding: 0 1%;
}
.card-footer {
  border-top: 0.25px solid hsl(0, 0%, 59%);
  padding: 7% 0% 5%;
}
.card-footer li {
  width: 30%;
  text-align: center;
  display: inline-block;
}

.card-footer h5 {
  padding-top: 3%;
  font-size: 12px;
}

.attribution {
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #4B515D;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .top-pattern {
    margin-top: -150px;
    margin-left: -100px;
  }
  
  .bottom-pattern {
    right: -100px;
    margin-bottom: -100px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .top-pattern {
    margin-top: -200px;
    margin-left: -150px;
  }
  
  .bottom-pattern {
    right: -100px;
    margin-bottom: -200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .top-pattern {
    margin-top: -300px;
    margin-left: -200px;
  }
  
  .bottom-pattern {
    right: -200px;
    margin-bottom: -300px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .top-pattern {
    margin-top: -400px;
    margin-left: -400px;
  }
  
  .bottom-pattern {
    right: -200px;
    margin-bottom: -500px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .top-pattern {
    width: 75%;
    margin-top: -600px;
    margin-left: -340px;
  }
  
  .bottom-pattern {
    width: 70%;
    position: fixed;
    right: -270px;
    bottom: 0;
    margin-bottom: -600px;
  }
}